/* Fixes overflowing links */
article {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Adds faint background pattern */
._background_pattern {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: #ffffff;
    opacity: 0.05;
    background-image: linear-gradient(#0071de 0.8px, transparent 0.8px), linear-gradient(90deg, #0071de 0.8px, transparent 0.8px), linear-gradient(#0071de 0.4px, transparent 0.4px), linear-gradient(90deg, #0071de 0.4px, #ffffff 0.4px);
    background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
    background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;

}

/* White background class for text */
._white_background {
    background-color: white;
}

/* Fix for graphical bug */
ul li p {
    display:inline;
}

/* Add-on of paper-y border for alert boxes, stripped out of main paper.css file */
._alert_paper_border {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

/* Custom tabs implementation, copied and renamed from paper.css */

.integration_tabs .content {
  display: none;
  flex-basis: 100%;
  padding: 0.75rem 0 0;
}
.integration_tabs input {
  display: none;
}
.integration_tabs input:checked + label {
  color: #41403e;
  color: var(--primary);
  border-bottom-color: #41403e;
  border-bottom-color: var(--secondary);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.integration_tabs input[id$=int_tab1]:checked ~ div[id$=int_content1] {
  display: block;
}
.integration_tabs input[id$=int_tab2]:checked ~ div[id$=int_content2] {
  display: block;
}
.integration_tabs input[id$=int_tab3]:checked ~ div[id$=int_content3] {
  display: block;
}
.integration_tabs input[id$=int_tab4]:checked ~ div[id$=int_content4] {
  display: block;
}
.integration_tabs input[id$=int_tab5]:checked ~ div[id$=int_content5] {
  display: block;
}
.integration_tabs input[id$=int_tab6]:checked ~ div[id$=int_content6] {
  display: block;
}
.integration_tabs input[id$=int_tab7]:checked ~ div[id$=int_content7] {
  display: block;
}
.integration_tabs input[id$=int_tab8]:checked ~ div[id$=int_content8] {
  display: block;
}
.integration_tabs input[id$=int_tab9]:checked ~ div[id$=int_content9] {
  display: block;
}
.integration_tabs label {
  color: #41403e;
  color: var(--primary-light);
  display: inline-block;
  font-weight: 600;
  margin: 0 0 -1px;
  padding: 0.75rem;
  text-align: center;
}
.integration_tabs label:hover {
  color: #41403e;
  color: var(--muted);
  cursor: pointer;
}

/**/

.game_tabs .content {
  display: none;
  flex-basis: 100%;
  padding: 0.75rem 0 0;
}
.game_tabs input {
  display: none;
}
.game_tabs input:checked + label {
  color: #41403e;
  color: var(--primary);
  border-bottom-color: #41403e;
  border-bottom-color: var(--secondary);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
.game_tabs input[id$=game_tab1]:checked ~ div[id$=game_content1] {
  display: block;
}
.game_tabs input[id$=game_tab2]:checked ~ div[id$=game_content2] {
  display: block;
}
.game_tabs input[id$=game_tab3]:checked ~ div[id$=game_content3] {
  display: block;
}
.game_tabs input[id$=game_tab4]:checked ~ div[id$=game_content4] {
  display: block;
}
.game_tabs input[id$=game_tab5]:checked ~ div[id$=game_content5] {
  display: block;
}
.game_tabs input[id$=game_tab6]:checked ~ div[id$=game_content6] {
  display: block;
}
.game_tabs input[id$=game_tab7]:checked ~ div[id$=game_content7] {
  display: block;
}
.game_tabs input[id$=game_tab8]:checked ~ div[id$=game_content8] {
  display: block;
}
.game_tabs input[id$=game_tab9]:checked ~ div[id$=game_content9] {
  display: block;
}
.game_tabs label {
  color: #41403e;
  color: var(--primary-light);
  display: inline-block;
  font-weight: 600;
  margin: 0 0 -1px;
  padding: 0.75rem;
  text-align: center;
}
.game_tabs label:hover {
  color: #41403e;
  color: var(--muted);
  cursor: pointer;
}